public/xsd/device_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DeviceConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MetaData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DeviceId" type="xs:string"/>
                            <xs:element name="Owner" type="xs:string"/>
                            <xs:element name="Protocol">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="MQTT"/>
                                        <xs:enumeration value="HTTP"/>
                                        <xs:enumeration value="CoAP"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Frequency" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Sensors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SensorConfig" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Unit" type="xs:string"/>
                                        <xs:element name="Threshold" type="xs:decimal"/>
                                    </xs:sequence>
                                    <xs:attribute name="type" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>